<H1>Basics</H1>

<ul>
  <li><a routerLink="/basics/displayingdata">Displaying Data</a></li>
  <li><a routerLink="/basics/buttonclick">Button Click</a></li>
  <li><a routerLink="/basics/showif">Show If</a></li>
  <li><a routerLink="/basics/repeatingelements">Repeating Elements</a></li>
  <li><a routerLink="/basics/textinput">Text Input</a></li>
  <li><a routerLink="/basics/modelbinding">Model Binding</a></li>
  <li><a routerLink="/basics/fruitbasket">Fruit Basket</a></li>
  <li><a routerLink="/basics/inputbindings">Input Bindings</a></li>
  <li><a routerLink="/basics/outputbindings">Output Bindings</a></li>
  <li><a routerLink="/basics/twowaybindings">Two-Way Bindings</a></li>
  <li><a routerLink="/basics/lifecycleevents">Lifecycle Events</a></li>
  
  <li><a routerLink="/basics/stylebindings">Style Bindings</a></li>
  <li><a routerLink="/basics/classbinding">Class Binding</a></li>

  <li><a routerLink="/basics/switching">Switching</a></li>
  <li><a routerLink="/basics/pipes">Pipes</a></li>

  <li><a routerLink="/basics/routingbasics">Routing Basics</a></li>
  <li><a routerLink="/basics/routerlinkactive">Router Link Active</a></li>
  <li><a routerLink="/basics/routeparameters">Route Parameters</a></li>
</ul>

<h1>Advanced</h1>

<ul>
  <li><a routerLink="/advanced/zones-trigger-changedetection">Zones Trigger ChangeDetection</a></li>
  <li><a routerLink="/advanced/default-changedetection">Default ChangeDetection</a></li>
  <li><a routerLink="/advanced/onpush">On Push</a></li>

  <li><a routerLink="/advanced/template-driven-form">Template Driven Forms</a></li>
  <li><a routerLink="/advanced/reactive-form">Reactive Form</a></li>
  <li><a routerLink="/advanced/forms-styling">Forms & Styling</a></li>

  <li><a routerLink="/advanced/data-from-observable">Data from Observable</a></li>
  <li><a routerLink="/advanced/rxjs-primer">RXJS Primer</a></li>

  <li><a routerLink="/advanced/rxjs-service-unsubscribe">RXJS Service Unsubscribe Stock Ticker</a></li>
  <li><a routerLink="/advanced/hot-vs-cold-observable">Hot vs. Cold Observable</a></li>

  <li><a routerLink="/advanced/promises">Promises</a></li>
  <li><a routerLink="/advanced/async-await">Async-Await</a></li>

  <li><a routerLink="/advanced/view-encapsulation">View Encapsulation</a></li>
  <li><a routerLink="/advanced/content-projection">Content Projection</a></li>
  <li><a routerLink="/advanced/multi-slot-content-projection">Mutli Slot Content Projection</a></li>
  <li><a routerLink="/advanced/content-children">Content Children</a></li>

</ul>
