<H1>Basics</H1>

<ul>
  <li><a routerLink="/basics/displayingdata">Displaying Data</a></li>
  <li><a routerLink="/basics/buttonclick">Button Click</a></li>
  <li><a routerLink="/basics/showif">Show If</a></li>
  <li><a routerLink="/basics/repeatingelements">Repeating Elements</a></li>
  <li><a routerLink="/basics/textinput">Text Input</a></li>
  <li><a routerLink="/basics/modelbinding">Model Binding</a></li>
  <li><a routerLink="/basics/fruitbasket">Fruit Basket</a></li>
  <li><a routerLink="/basics/inputbindings">Input Bindings</a></li>
</ul>

