<h1>RX Primer</h1>

<div>
  <button (click)="basicObservableOf()">basicObservableOf()</button>
</div>

<h2>filter & map</h2>
<div>
    <button (click)="filterObservable()">filterObservable()</button>
</div>
<div>
    <button (click)="mapObservable()">mapObservable()</button>
</div>

<h2>Delay and Cancel Subscription</h2>
<div>
  <button (click)="delayedObservable()">Delayed Observable()</button>
  <button (click)="cancelDelayedObservable()">Cancel Delayed Observable()</button>
</div>

<h2>Merging</h2>
<div>
  <button (click)="concatenateObservable()">concatenateObservable()</button>
</div>

<div>
  <button (click)="forkJoin()">forkJoin()</button>
  <button (click)="forkJoinFail()">forkJoinFail()</button>
  <button (click)="forkJoinHttp()">forkJoinHttp()</button>

  <button (click)="getOrderWithCustomer()">getOrderWithCustomer()</button>
  <button (click)="getOrdersWithCustomer()">getOrdersWithCustomer()</button>
  <button (click)="getOrdersWithCustomerCached()">getOrdersWithCustomerCached()</button>
</div>